## DENGUE

- https://pysus.readthedocs.io/en/latest/databases/SINAN.html (pysus)
- https://portalsinan.saude.gov.br/sinan-dengue-chikungunya (sinan)
- https://portalsinan.saude.gov.br/images/documentos/Agravos/Dengue/DIC_DADOS_ONLINE.pdf (dict data)

outra ideia...

- https://info.dengue.mat.br/services/api (obter dados liquidos tratados)

In [1]:
import pandas as pd
from pysus import SINAN
from pathlib import Path

In [2]:
sinan = SINAN().load()
file = sinan.get_files(dis_code=["DENG"], year=2021)
sinan.describe(file[0])

{'name': 'DENGBR21.dbc',
 'disease': 'Dengue',
 'year': 2021,
 'size': '42.9 MB',
 'last_update': '2023-05-11 11:10AM'}

In [ ]:
try:
    df = pd.read_parquet(Path.home() / "pysus" / "DENGBR21.parquet")
except Exception:
    df = sinan.download(sinan.get_files(dis_code=["DENG"], year=2021))

In [ ]:
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,DT_DIGITA,CS_FLXRET,FLXRECEBI,MIGRADO_W
0,2,A90,20210615,202124,2021,35,351880,1333,5275792,20210615,...,,,,,2,,20210617,,,
1,2,A90,20210505,202118,2021,35,355400,1353,2052237,20210502,...,,,,,2,,20210722,,,
2,2,A90,20210610,202123,2021,35,351620,1343,9120068,20210329,...,,,,,2,,20210722,,,
3,2,A90,20210511,202119,2021,35,351470,1344,2085690,20210506,...,,,,,2,,20210610,,,
4,2,A90,20210430,202117,2021,35,355700,1353,0040061,20210426,...,,,,,2,,20210505,,,

In [ ]:
print(df.shape)
print(df.columns.tolist())

(1010359, 121)
['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'ANO_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'DT_INVEST', 'ID_OCUPA_N', 'FEBRE', 'MIALGIA', 'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA', 'DOR_COSTAS', 'CONJUNTVIT', 'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N', 'LEUCOPENIA', 'LACO', 'DOR_RETRO', 'DIABETES', 'HEMATOLOG', 'HEPATOPAT', 'RENAL', 'HIPERTENSA', 'ACIDO_PEPT', 'AUTO_IMUNE', 'DT_CHIK_S1', 'DT_CHIK_S2', 'DT_PRNT', 'RES_CHIKS1', 'RES_CHIKS2', 'RESUL_PRNT', 'DT_SORO', 'RESUL_SORO', 'DT_NS1', 'RESUL_NS1', 'DT_VIRAL', 'RESUL_VI_N', 'DT_PCR', 'RESUL_PCR_', 'SOROTIPO', 'HISTOPA_N', 'IMUNOH_N', 'HOSPITALIZ', 'DT_INTERNA', 'UF', 'MUNICIPIO', 'TPAUTOCTO', 'COUFINF', 'COPAISINF', 'COMUNINF', 'CLASSI_FIN', 'CRITERIO', 'DOENCA_TRA', 'CLINC_CHIK', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'ALRM_HIPOT', 'ALRM_PLAQ', 'ALRM_VOM', 'ALRM_SANG', 'ALRM_HEMAT', 'ALRM_ABDOM', 'ALRM_LETAR', 'ALRM_HEPAT', 'ALRM_LIQ', 'DT_ALRM', 'GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF', 'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT', 'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG', 'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO', 'DT_GRAV', 'MANI_HEMOR', 'EPISTAXE', 'GENGIVO', 'METRO', 'PETEQUIAS', 'HEMATURA', 'SANGRAM', 'LACO_N', 'PLASMATICO', 'EVIDENCIA', 'PLAQ_MENOR', 'CON_FHD', 'COMPLICA', 'TP_SISTEMA', 'NDUPLIC_N', 'DT_DIGITA', 'CS_FLXRET', 'FLXRECEBI', 'MIGRADO_W']

In [ ]:
df[["DT_NOTIFIC", "SEM_NOT", "ID_MUNICIP", "CLASSI_FIN"]].head()

  DT_NOTIFIC SEM_NOT ID_MUNICIP CLASSI_FIN
0   20210615  202124     351880         10
1   20210505  202118     355400         5
2   20210610  202123     351620         10
3   20210511  202119     351470         5
4   20210430  202117     355700         5

In [ ]:
df = df[df["CLASSI_FIN"].str.strip() != "5"]
df.shape

(531991, 121)

In [ ]:
df_dengue = df.groupby(["DT_NOTIFIC", "ID_MUNICIP"]).size().reset_index(name="case_count")
df_dengue["ID_MUNICIP"] = df_dengue["ID_MUNICIP"].astype(int)
print(df_dengue.shape)
df_dengue.head()

(112129, 3)

  DT_NOTIFIC  ID_MUNICIP  case_count
0   20210103      120040           8
1   20210103      120042           3
2   20210103      120060           2
3   20210103      130260           1
4   20210103      160030           1

## INMET

- https://github.com/dankkom/inmet-bdmep-data/blob/main/fetch.py (docs como pegar esses dados)
- https://github.com/dankkom/inmet-bdmep-data/tree/main (codigo)

In [ ]:
from reader_inmet import read_zipfile
df_inmet = read_zipfile("data/2021.zip")

100%|██████████| 588/588 [00:36<00:00, 16.07it/s]

In [ ]:
df_inmet.head()

,precipitacao,pressao_atmosferica,pressao_atmosferica_maxima,pressao_atmosferica_minima,radiacao,temperatura_ar,temperatura_orvalho,temperatura_maxima,temperatura_minima,temperatura_orvalho_maxima,...,vento_velocidade,data_hora,regiao,uf,estacao,codigo_wmo,latitude,longitude,altitude,data_fundacao
0,0.0,887.1,887.1,886.3,NaN,20.9,15.9,22.4,20.8,16.5,...,0.8,2021-01-01 00:00:00,CO,DF,BRASILIA,A001,-15.789444,-47.925833,1160.96,2000-05-07
1,0.0,887.3,887.5,887.1,NaN,20.5,16.4,21.1,19.5,16.9,...,1.5,2021-01-01 01:00:00,CO,DF,BRASILIA,A001,-15.789444,-47.925833,1160.96,2000-05-07
2,0.0,887.9,888.0,887.2,NaN,19.6,16.1,21.4,19.6,16.5,...,1.1,2021-01-01 02:00:00,CO,DF,BRASILIA,A001,-15.789444,-47.925833,1160.96,2000-05-07
3,0.0,887.6,888.0,887.6,NaN,19.4,16.7,20.1,19.3,17.0,...,0.6,2021-01-01 03:00:00,CO,DF,BRASILIA,A001,-15.789444,-47.925833,1160.96,2000-05-07
4,0.0,887.0,887.6,887.0,NaN,18.7,16.3,19.4,18.6,16.8,...,0.7,2021-01-01 04:00:00,CO,DF,BRASILIA,A001,-15.789444,-47.925833,1160.96,2000-05-07

## IBGE

- https://www.ibge.gov.br/explica/codigos-dos-municipios.php (codigo municipios)

In [ ]:
df_ibge = pd.read_csv("data/RELATORIO_DTB_BRASIL_2024_MUNICIPIOS - DTB_Municípios.csv")
print(df_ibge.shape)
df_ibge.head()

(5571, 10)

,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Município,Código Município Completo,Nome_Município,Unnamed: 9
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,15,1100015,Alta Floresta D'Oeste,NaN
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,379,1100379,Alto Alegre dos Parecis,NaN
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,403,1100403,Alto Paraíso,NaN
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,346,1100346,Alvorada D'Oeste,NaN
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,23,1100023,Ariquemes,NaN

In [ ]:
df_ibge.columns.tolist()

['UF',
 'Nome_UF',
 'Região Geográfica Intermediária',
 'Nome Região Geográfica Intermediária',
 'Região Geográfica Imediata',
 'Nome Região Geográfica Imediata',
 'Município',
 'Código Município Completo',
 'Nome_Município',
 'Unnamed: 9']

In [ ]:
df_ibge["id_municip"] = df_ibge["Código Município Completo"] // 10
# ISSO NAO FAZ SENTIDO KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK

## JUNTANDO

In [ ]:
df_merged = pd.merge(
    df_dengue,
    df_ibge,
    left_on="ID_MUNICIP",
    right_on="id_municip",
    how="left"
)
print(df_merged.shape)
df_merged.head()

(112129, 14)

,DT_NOTIFIC,ID_MUNICIP,case_count,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Município,Código Município Completo,Nome_Município,Unnamed: 9,id_municip
0,20210103,120040,8,12,Acre,1201,Rio Branco,120001,Rio Branco,401,1200401,Rio Branco,NaN,120040
1,20210103,120042,3,12,Acre,1202,Cruzeiro do Sul,120004,Cruzeiro do Sul,427,1200427,Rodrigues Alves,NaN,120042
2,20210103,120060,2,12,Acre,1202,Cruzeiro do Sul,120005,Tarauacá,609,1200609,Tarauacá,NaN,120060
3,20210103,130260,1,13,Amazonas,1301,Manaus,130001,Manaus,2603,1302603,Manaus,NaN,130260
4,20210103,160030,1,16,Amapá,1601,Macapá,160001,Macapá,303,1600303,Macapá,NaN,160030

In [ ]:
df_merged.isnull().sum()

DT_NOTIFIC                                   0
ID_MUNICIP                                   0
case_count                                   0
UF                                           0
Nome_UF                                      0
Região Geográfica Intermediária              0
Nome Região Geográfica Intermediária         0
Região Geográfica Imediata                   0
Nome Região Geográfica Imediata              0
Município                                    0
Código Município Completo                    0
Nome_Município                               0
Unnamed: 9                              112129
id_municip                                   0
dtype: int64